<settings>
    <setting id="contextmenu.flipmenu" type="bool">false</setting>
    <setting id="contextmenu.disableoptionstray" type="bool">false</setting>
    <setting id="contextmenu.disableartwork" type="bool">false</setting>
    <setting id="navigation.disablealphabetjump" type="bool">false</setting>
    <setting id="osd.enablehdrpopup" type="bool">false</setting>
    <setting id="trailers.enablefullscreen" type="bool">false</setting>
    <setting id="keyboard.fullsized" type="bool">false</setting>
    <setting id="dialog.disableartworkpreview" type="bool">false</setting>
    <setting id="startup.waitforload.disableforhubs" type="bool">false</setting>
    <setting id="osd.ondown.disablepvrosdguide" type="bool">false</setting>
    <setting id="osd.ondown.disablepvrosdchannels" type="bool">false</setting>
    <setting id="osd.ondown.disablevideobookmarks" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">true</setting>
    <setting id="info.disablesmallertitle" type="bool">false</setting>
    <setting id="disablemultiline.title" type="bool">false</setting>
    <setting id="info.disabledetailsline" type="bool">false</setting>
    <setting id="infoline.disablesource" type="bool">false</setting>
    <setting id="info.enablepillboxstyle" type="bool">false</setting>
    <setting id="infoline.enabledetailedsource" type="bool">false</setting>
    <setting id="hub.1108.enablebasicwidgets" type="bool">false</setting>
    <setting id="osd.displayheaderontop" type="bool">false</setting>
    <setting id="hub.1109.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1125.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1126.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1127.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1114.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.addons.disablevideo" type="bool">false</setting>
    <setting id="hub.addons.disablemusic" type="bool">true</setting>
    <setting id="hub.addons.disableprogram" type="bool">false</setting>
    <setting id="hub.addons.disablepicture" type="bool">true</setting>
    <setting id="hub.addons.disablegame" type="bool">true</setting>
    <setting id="hub.1105.disablespotlight" type="bool">false</setting>
    <setting id="hub.1102.widgetselector" type="bool">false</setting>
    <setting id="hub.1103.widgetselector" type="bool">false</setting>
    <setting id="furniture.enableleftheader" type="bool">false</setting>
    <setting id="hub.1105.widgetselector" type="bool">false</setting>
    <setting id="hub.1106.widgetselector" type="bool">false</setting>
    <setting id="hub.1107.widgetselector" type="bool">false</setting>
    <setting id="hub.1108.widgetselector" type="bool">false</setting>
    <setting id="hub.1109.widgetselector" type="bool">false</setting>
    <setting id="hub.1110.widgetselector" type="bool">false</setting>
    <setting id="hub.1112.widgetselector" type="bool">false</setting>
    <setting id="hub.1114.widgetselector" type="bool">false</setting>
    <setting id="hub.1125.widgetselector" type="bool">false</setting>
    <setting id="hub.1126.widgetselector" type="bool">false</setting>
    <setting id="hub.1127.widgetselector" type="bool">false</setting>
    <setting id="home.sidemenu.disableindicator" type="bool">false</setting>
    <setting id="hub.home.disablemovebetweengroups" type="bool">false</setting>
    <setting id="hub.1101.disablesubmenu" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablecollection" type="bool">false</setting>
    <setting id="infodialog.enablelocalcollection" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablestudio" type="bool">false</setting>
    <setting id="videoinfo.widgets.disableyear" type="bool">false</setting>
    <setting id="videoinfo.widgets.disableseasons" type="bool">false</setting>
    <setting id="videoinfo.widgets.disableepisodes" type="bool">false</setting>
    <setting id="videoinfo.widgets.disabledirector" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablewriter" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablecreator" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablestarring" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablecrew" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablevideos" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablecomments" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablerecommendations" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablerelated" type="bool">false</setting>
    <setting id="videoinfo.widgets.disablegallery" type="bool">false</setting>
    <setting id="infodialog.disableonlinewidgetcontent" type="bool">false</setting>
    <setting id="hub.1104.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1106.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1107.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1110.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1112.enablebasicwidgets" type="bool">false</setting>
    <setting id="invertselectedtext" type="bool">true</setting>
    <setting id="infoline.disablehdr" type="bool">false</setting>
    <setting id="infoline.disableaudiochannels" type="bool">false</setting>
    <setting id="infoline.disablecodec" type="bool">false</setting>
    <setting id="infoline.disableversion" type="bool">false</setting>
    <setting id="infoline.disablecollection" type="bool">false</setting>
    <setting id="osd.ondown.disable1140" type="bool">false</setting>
    <setting id="hub.1110.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1112.disablesubmenu" type="bool">false</setting>
    <setting id="holidaymode.frost" type="bool">false</setting>
    <setting id="hub.1112.disablespotlight" type="bool">false</setting>
    <setting id="hub.1114.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1114.disablespotlight" type="bool">false</setting>
    <setting id="hub.1125.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1125.disablespotlight" type="bool">false</setting>
    <setting id="hub.1126.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1126.disablespotlight" type="bool">false</setting>
    <setting id="hub.1127.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1127.disablespotlight" type="bool">false</setting>
    <setting id="wizard.firstrun" type="bool">true</setting>
    <setting id="tmdbhelper.enableblur" type="bool">true</setting>
    <setting id="startup.waitforload.enableforlibrary" type="bool">false</setting>
    <setting id="enablemonochromehighlight" type="bool">true</setting>
    <setting id="texturemaker.built" type="bool">true</setting>
    <setting id="trailers.enableautoplayback" type="bool">false</setting>
    <setting id="trailers.enableautoplayback.spotlight" type="bool">false</setting>
    <setting id="trailers.enableautoplayback.widgets" type="bool">false</setting>
    <setting id="trailers.enableautoplayback.library" type="bool">false</setting>
    <setting id="trailers.enableautoplayback.hubs" type="bool">false</setting>
    <setting id="trailers.enableautoplayback.info" type="bool">false</setting>
    <setting id="sidemenu.swapsearchfordiscover" type="bool">false</setting>
    <setting id="home.onup.hub" type="bool">false</setting>
    <setting id="disable.listflixposter" type="bool">false</setting>
    <setting id="infoline.setags" type="bool">false</setting>
    <setting id="customrating.movies.disableendsattime" type="bool">false</setting>
    <setting id="TMDbHelper.DirectCallAuto" type="bool">true</setting>
    <setting id="customrating.tvshows.disableendsattime" type="bool">false</setting>
    <setting id="trailers.source.imdb" type="bool">false</setting>
    <setting id="skinuserlogin.disabled" type="bool">false</setting>
    <setting id="disable.combolistdetailedview" type="bool">false</setting>
    <setting id="disable.listbigposterdetailedview" type="bool">false</setting>
    <setting id="disable.listbiglandscapedetailedview" type="bool">false</setting>
    <setting id="view.switchwallorientation" type="bool">false</setting>
    <setting id="view.switchverticalwallsize" type="bool">false</setting>
    <setting id="labels.autoscroll" type="bool">false</setting>
    <setting id="customrating.tvshows.disablepremierestatus" type="bool">false</setting>
    <setting id="customrating.movies.enablepremierestatus" type="bool">false</setting>
    <setting id="furniture.enablecolourratings" type="bool">false</setting>
    <setting id="osd.displaytitledetailsonseek" type="bool">false</setting>
    <setting id="osd.infooverlay.disableplotratingsoninfo" type="bool">false</setting>
    <setting id="info.uses1e1stylenumbers" type="bool">false</setting>
    <setting id="customrating.enablepremierestatusdates" type="bool">false</setting>
    <setting id="indicator.episodetypebanner" type="bool">false</setting>
    <setting id="textboxes.disableautoscroll" type="bool">false</setting>
    <setting id="osd.autoinfoonpause" type="bool">false</setting>
    <setting id="home.firstrun" type="bool">true</setting>
    <setting id="toastnotifications.tabbed" type="bool">true</setting>
    <setting id="glass.darkpanels" type="bool">false</setting>
    <setting id="furniture.disablenowplaying" type="bool">false</setting>
    <setting id="background.disablepip" type="bool">false</setting>
    <setting id="glass.enableborders" type="bool">true</setting>
    <setting id="keyboard.disableautocompletion" type="bool">false</setting>
    <setting id="tmdbhelper.enabletranslationproperties" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="enableholidaytheme" type="bool">false</setting>
    <setting id="disable.holidaytheme.additionalicons" type="bool">false</setting>
    <setting id="holidaymode.australia" type="bool">false</setting>
    <setting id="osd.autohideonpause" type="bool">false</setting>
    <setting id="furniture.enableclock" type="bool">false</setting>
    <setting id="osd.ondown.disable1141" type="bool">false</setting>
    <setting id="trailers.enableautofullscreen" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="tmdbhelper.disablepvr" type="bool">false</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="hub.1104.widgetselector" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="hub.home.widgetselector" type="bool">false</setting>
    <setting id="osd.displayplotwithtitle" type="bool">false</setting>
    <setting id="info.disableallratings" type="bool">false</setting>
    <setting id="infoline.enableendsattime" type="bool">false</setting>
    <setting id="rss.leftfooter" type="bool">false</setting>
    <setting id="furniture.bottomright.disable" type="bool">false</setting>
    <setting id="furniture.viewlinecolor" type="bool">false</setting>
    <setting id="furniture.enableviewlineicons" type="bool">false</setting>
    <setting id="background.visualisation.disabled" type="bool">false</setting>
    <setting id="background.disablespotlight" type="bool">true</setting>
    <setting id="background.enablespotlightslide" type="bool">false</setting>
    <setting id="tmdbhelper.service" type="bool">true</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="skinuserlogin.startuploginscreen" type="bool">false</setting>
    <setting id="views.disableitempeek" type="bool">false</setting>
    <setting id="infoline.disablestarrating" type="bool">false</setting>
    <setting id="navigation.onback.expandmenu" type="bool">false</setting>
    <setting id="sidemenu.enablesearchandoptions" type="bool">false</setting>
    <setting id="navigation.global.hub.switcher" type="bool">false</setting>
    <setting id="hub.1101.widgetselector" type="bool">false</setting>
    <setting id="hub.1108.disablespotlight" type="bool">false</setting>
    <setting id="hub.1109.disablesubmenu" type="bool">false</setting>
    <setting id="indicator.disablelatest" type="bool">false</setting>
    <setting id="indicator.disablepvrguidecatchup" type="bool">false</setting>
    <setting id="defaultuser.enablemonochromehighlight" type="bool">true</setting>
    <setting id="startup.waitforload" type="bool">false</setting>
    <setting id="hub.home.disablesubmenu" type="bool">true</setting>
    <setting id="sidemenu.focuswidgetsfirst" type="bool">false</setting>
    <setting id="hub.home.disablespotlight" type="bool">false</setting>
    <setting id="views.usealtcombined.detailed" type="bool">false</setting>
    <setting id="views.usealtcombined" type="bool">false</setting>
    <setting id="hub.1106.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1110.disablespotlight" type="bool">false</setting>
    <setting id="debuggrid" type="bool">false</setting>
    <setting id="background.extrafanart" type="bool">false</setting>
    <setting id="Options.DisableBottomTray" type="bool">false</setting>
    <setting id="defaultconfig.initdone" type="bool">true</setting>
    <setting id="TMDbHelper.UseLocalWidgetContainer" type="bool">true</setting>
    <setting id="TMDbHelper.DisableExtendedProperties" type="bool">true</setting>
    <setting id="hub.home.enablebasicwidgets" type="bool">false</setting>
    <setting id="TMDbHelper.EnableCurrentWindowImages" type="bool">true</setting>
    <setting id="defaultuser.invertselectedtext" type="bool">true</setting>
    <setting id="hub.1107.disablespotlight" type="bool">false</setting>
    <setting id="hub.1108.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1109.disablespotlight" type="bool">false</setting>
    <setting id="hub.1106.disablespotlight" type="bool">false</setting>
    <setting id="hub.1103.enablebasicwidgets" type="bool">false</setting>
    <setting id="hub.1101.enablebasicwidgets" type="bool">false</setting>
    <setting id="enable.walldetailedlabels" type="bool">false</setting>
    <setting id="view.usetextbasedboard" type="bool">false</setting>
    <setting id="view.usetextbasedcard" type="bool">false</setting>
    <setting id="hub.1102.enablebasicwidgets" type="bool">false</setting>
    <setting id="info.uselocalcast" type="bool">false</setting>
    <setting id="infodialog.widgetsposter" type="bool">false</setting>
    <setting id="infodialog.disableonlinegallery" type="bool">false</setting>
    <setting id="hub.1101.disablespotlight" type="bool">false</setting>
    <setting id="hub.1102.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1102.disablespotlight" type="bool">false</setting>
    <setting id="hub.1107.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1103.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1103.disablespotlight" type="bool">false</setting>
    <setting id="hub.1104.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1104.disablespotlight" type="bool">false</setting>
    <setting id="background.disablevideo" type="bool">false</setting>
    <setting id="widgets.disablenoresultsitem" type="bool">false</setting>
    <setting id="indicator.movieversionbanner" type="bool">false</setting>
    <setting id="indicator.ratingscircle" type="bool">false</setting>
    <setting id="indicator.traktwatchlist" type="bool">false</setting>
    <setting id="indicator.traktfavourites" type="bool">false</setting>
    <setting id="indicator.progresspercent" type="bool">false</setting>
    <setting id="indicator.disableepisodes" type="bool">false</setting>
    <setting id="indicator.disableprogress" type="bool">false</setting>
    <setting id="indicator.disablewatched" type="bool">false</setting>
    <setting id="indicator.disablelibrary" type="bool">false</setting>
    <setting id="indicator.disablecollection" type="bool">false</setting>
    <setting id="view.disabledetailedlistlabels" type="bool">false</setting>
    <setting id="disablelandscapeart" type="bool">false</setting>
    <setting id="indicator.enableunwatchedcount" type="bool">false</setting>
    <setting id="widgets.disableshowmore" type="bool">false</setting>
    <setting id="widgets.donthideartworkonclassic" type="bool">false</setting>
    <setting id="navigation.disableoptionsonback" type="bool">false</setting>
    <setting id="options.disablebuttonlabels" type="bool">false</setting>
    <setting id="hub.1104.label" type="string"></setting>
    <setting id="watchedprogresscolor.name" type="string">ff03b585</setting>
    <setting id="hub.1104.spotlight.sortby" type="string"></setting>
    <setting id="navigation.hub.1104.ondown" type="string"></setting>
    <setting id="hub.1110.spotlight.sortby" type="string"></setting>
    <setting id="hub.1108.spotlight.target" type="string"></setting>
    <setting id="hub.1112.spotlight.label" type="string"></setting>
    <setting id="script-skinvariables-generator-textures-hash" type="string">56b41ced64e2108ba88ffe51c56207ad</setting>
    <setting id="dialoginfo.others.item01" type="string">Trailer</setting>
    <setting id="TMDbHelper.UseLocalWindowIDs" type="string">10000|11101|11102|11103|11104|11105|11106|11107|11108|11109|11110|11112|11114|11125|11126|11127|11130|11131|11132|11181|11182|11185</setting>
    <setting id="hub.home.replacewindow" type="string"></setting>
    <setting id="autoscrolltime" type="string"></setting>
    <setting id="infoline.optional" type="string"></setting>
    <setting id="optionstiles.02.target" type="string"></setting>
    <setting id="dialoginfo.others.item02" type="string">Wikipedia</setting>
    <setting id="osd.autoonpause.delay" type="string"></setting>
    <setting id="dialoginfo.wall.others.item02" type="string">Wikipedia</setting>
    <setting id="dialoginfo.others.item03" type="string">Trakt</setting>
    <setting id="dialoginfo.wall.others.item03" type="string">Trakt</setting>
    <setting id="dialoginfo.others.item04" type="string">Artwork</setting>
    <setting id="dialoginfo.wall.others.item04" type="string">Artwork</setting>
    <setting id="navigation.hub.1108.ondown" type="string"></setting>
    <setting id="SkinConstant.Numeric.02" type="string">$NUMBER[2]</setting>
    <setting id="hub.1103.spotlight.target" type="string">music</setting>
    <setting id="hub.1104.spotlight.path" type="string">pvr://channels/tv/*</setting>
    <setting id="hub.1104.spotlight.target" type="string">tvguide</setting>
    <setting id="customrating.tvshows.item01" type="string">Kodi</setting>
    <setting id="customrating.tvshows.item02" type="string">TMDb</setting>
    <setting id="customrating.tvshows.item03" type="string">Trakt</setting>
    <setting id="dialoginfo.movies.item01" type="string">Trailer</setting>
    <setting id="SkinConstant.Numeric.01" type="string">$NUMBER[1]</setting>
    <setting id="hub.1109.spotlight.label" type="string"></setting>
    <setting id="hub.1127.spotlight.label" type="string"></setting>
    <setting id="TMDbHelper.Corner.Radius" type="string">20</setting>
    <setting id="SkinConstant.Numeric.11" type="string">$NUMBER[11]</setting>
    <setting id="Shortcuts.RebuildDateTime" type="string">2026-07-08_09:40:06</setting>
    <setting id="defaultuser.gradientcolor.name" type="string">ffffffff</setting>
    <setting id="SkinConstant.Numeric.03" type="string">$NUMBER[3]</setting>
    <setting id="navigation.hub.1114.ondown" type="string"></setting>
    <setting id="navigation.hub.1112.ondown" type="string"></setting>
    <setting id="navigation.hub.1125.ondown" type="string"></setting>
    <setting id="navigation.hub.1126.ondown" type="string"></setting>
    <setting id="navigation.hub.1127.ondown" type="string"></setting>
    <setting id="skinvariables.skinuser.icon" type="string"></setting>
    <setting id="skin.settingslevel" type="string">3</setting>
    <setting id="hub.1112.spotlight.path" type="string"></setting>
    <setting id="hub.1108.spotlight.path" type="string"></setting>
    <setting id="hub.1109.spotlight.path" type="string"></setting>
    <setting id="hub.1110.spotlight.path" type="string"></setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="hub.1108.icon" type="string"></setting>
    <setting id="mousepointercolor.name" type="string"></setting>
    <setting id="mouse.pointersize" type="string"></setting>
    <setting id="furniture.enableclock.topleft" type="string">Date</setting>
    <setting id="seekbar.timedisplay" type="string"></setting>
    <setting id="hub.1102.spotlight.fallback" type="string"></setting>
    <setting id="SkinConstant.Numeric.06" type="string">$NUMBER[6]</setting>
    <setting id="startup.videopath" type="string"></setting>
    <setting id="SkinConstant.Numeric.07" type="string">$NUMBER[7]</setting>
    <setting id="SkinConstant.Numeric.08" type="string">$NUMBER[8]</setting>
    <setting id="SkinConstant.Numeric.09" type="string">$NUMBER[9]</setting>
    <setting id="SkinConstant.Numeric.10" type="string">$NUMBER[10]</setting>
    <setting id="navigation.hub.1103.ondown" type="string"></setting>
    <setting id="hub.1125.spotlight.sortby" type="string"></setting>
    <setting id="hub.1114.spotlight.sortby" type="string"></setting>
    <setting id="hub.1127.spotlight.sortby" type="string"></setting>
    <setting id="hub.1126.spotlight.sortby" type="string"></setting>
    <setting id="hub.1112.spotlight.sortby" type="string"></setting>
    <setting id="hub.1110.label" type="string"></setting>
    <setting id="hub.1109.icon" type="string"></setting>
    <setting id="hub.1110.icon" type="string"></setting>
    <setting id="hub.1112.label" type="string"></setting>
    <setting id="hub.1112.icon" type="string"></setting>
    <setting id="hub.1114.label" type="string"></setting>
    <setting id="hub.1114.icon" type="string"></setting>
    <setting id="hub.1125.label" type="string"></setting>
    <setting id="hub.1125.icon" type="string"></setting>
    <setting id="hub.1126.label" type="string"></setting>
    <setting id="hub.1126.icon" type="string"></setting>
    <setting id="hub.1127.label" type="string"></setting>
    <setting id="hub.1127.icon" type="string"></setting>
    <setting id="OptionsTiles.01.Label" type="string"></setting>
    <setting id="OptionsTiles.01.Icon" type="string"></setting>
    <setting id="OptionsTiles.02.Label" type="string"></setting>
    <setting id="OptionsTiles.03.Icon" type="string"></setting>
    <setting id="OptionsTiles.03.Label" type="string"></setting>
    <setting id="OptionsTiles.04.Icon" type="string"></setting>
    <setting id="OptionsTiles.04.Label" type="string"></setting>
    <setting id="OptionsTiles.02.Icon" type="string"></setting>
    <setting id="hub.1109.label" type="string"></setting>
    <setting id="home.leftmenu.action" type="string"></setting>
    <setting id="navigation.global.hub.switcher.windowids" type="string"></setting>
    <setting id="hub.1110.spotlight.target" type="string"></setting>
    <setting id="hub.1109.spotlight.target" type="string"></setting>
    <setting id="SkinConstant.Numeric.04" type="string">$NUMBER[4]</setting>
    <setting id="SkinConstant.Numeric.05" type="string">$NUMBER[5]</setting>
    <setting id="script-skinviewtypes-hash" type="string">55b924f657151854d62b768dba6dab9f</setting>
    <setting id="TMDbHelper.MonitorContainer" type="string"></setting>
    <setting id="script-skinviewtypes-checksum" type="string">dd82f61f65919460c6658fe4c15e1a9d</setting>
    <setting id="script-skinvariables-generator-hash" type="string">9362a07cbb9408c3ec34503795168678</setting>
    <setting id="hub.1108.label" type="string"></setting>
    <setting id="hub.1108.spotlight.label" type="string"></setting>
    <setting id="plotline.tvshow" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="hub.1102.icon" type="string"></setting>
    <setting id="dialoginfo.wall.movies.item03" type="string">Trakt</setting>
    <setting id="hubs.topbar.style" type="string"></setting>
    <setting id="hub.1103.spotlight.path" type="string">special://skin/extras/playlists/RandomArtists.xsp</setting>
    <setting id="SkinConstant.Numeric.13" type="string">$NUMBER[13]</setting>
    <setting id="hub.1110.spotlight.fallback" type="string"></setting>
    <setting id="customrating.movies.item03" type="string">Trakt</setting>
    <setting id="start_trailer" type="string"></setting>
    <setting id="fullscreen_trailer_delay" type="string"></setting>
    <setting id="customrating.movies.item01" type="string">Kodi</setting>
    <setting id="furniture.bottomleft.enable" type="string"></setting>
    <setting id="home.sidemenucollapse" type="string">Topbar</setting>
    <setting id="searchhistory" type="string"></setting>
    <setting id="hub.home.spotlight.target" type="string">videos</setting>
    <setting id="optionstiles.04.path" type="string"></setting>
    <setting id="hub.1101.spotlight.target" type="string">videos</setting>
    <setting id="navigation.global.ondown" type="string">Filter</setting>
    <setting id="navigation.onback" type="string">Parent</setting>
    <setting id="hub.1104.icon" type="string"></setting>
    <setting id="hub.1101.spotlight.path" type="string">special://skin/extras/playlists/RandomMovies.xsp</setting>
    <setting id="customrating.movies.item06" type="string"></setting>
    <setting id="optionstiles.layout" type="string">3</setting>
    <setting id="background.artworkstyle" type="string"></setting>
    <setting id="gradientcolor.name" type="string">ffffffff</setting>
    <setting id="customstatus.datestyle" type="string"></setting>
    <setting id="home.label" type="string"></setting>
    <setting id="hub.1110.spotlight.label" type="string"></setting>
    <setting id="navigation.hub.1107.ondown" type="string"></setting>
    <setting id="navigation.hub.1106.ondown" type="string"></setting>
    <setting id="SkinConstant.Numeric.12" type="string">$NUMBER[12]</setting>
    <setting id="hub.1102.spotlight.path" type="string">special://skin/extras/playlists/RandomTvShows.xsp</setting>
    <setting id="customrating.tvshows.item06" type="string"></setting>
    <setting id="dialoginfo.movies.item03" type="string">Trakt</setting>
    <setting id="skin.flixart.size" type="string"></setting>
    <setting id="hub.home.spotlight.fallback" type="string"></setting>
    <setting id="furniture.codecstyle" type="string"></setting>
    <setting id="hub.1107.icon" type="string"></setting>
    <setting id="hub.home.spotlight.path" type="string"></setting>
    <setting id="hub.1107.spotlight.path" type="string"></setting>
    <setting id="hub.1103.spotlight.fallback" type="string"></setting>
    <setting id="hub.1106.spotlight.path" type="string"></setting>
    <setting id="hub.1107.label" type="string"></setting>
    <setting id="hub.1107.spotlight.sortby" type="string"></setting>
    <setting id="optionstiles.02.path" type="string"></setting>
    <setting id="optionstiles.03.target" type="string"></setting>
    <setting id="optionstiles.03.path" type="string"></setting>
    <setting id="optionstiles.04.target" type="string"></setting>
    <setting id="focuscolor.name" type="string">ffffffff</setting>
    <setting id="hub.1127.spotlight.fallback" type="string"></setting>
    <setting id="hub.home.spotlight.label" type="string"></setting>
    <setting id="hub.1101.spotlight.label" type="string"></setting>
    <setting id="hub.1102.spotlight.label" type="string"></setting>
    <setting id="hub.1103.spotlight.label" type="string"></setting>
    <setting id="hub.1104.spotlight.label" type="string"></setting>
    <setting id="hub.1106.spotlight.label" type="string"></setting>
    <setting id="hub.1107.spotlight.label" type="string"></setting>
    <setting id="background.multiimage" type="string"></setting>
    <setting id="background.image" type="string">special://skin/extras/backgrounds/blur/purple_blur.jpg</setting>
    <setting id="mpaa_country" type="string"></setting>
    <setting id="startup.imagefolder" type="string"></setting>
    <setting id="infodialog.layout" type="string"></setting>
    <setting id="dialoginfo.wall.movies.item04" type="string">Artwork</setting>
    <setting id="customrating.tvshows.item05" type="string"></setting>
    <setting id="SkinConstant.Numeric.14" type="string">$NUMBER[14]</setting>
    <setting id="SkinConstant.Numeric.15" type="string">$NUMBER[15]</setting>
    <setting id="SkinConstant.Numeric.17" type="string">$NUMBER[17]</setting>
    <setting id="SkinConstant.Numeric.16" type="string">$NUMBER[16]</setting>
    <setting id="SkinConstant.Numeric.18" type="string">$NUMBER[18]</setting>
    <setting id="dialoginfo.movies.item04" type="string">Artwork</setting>
    <setting id="hub.1126.spotlight.fallback" type="string"></setting>
    <setting id="customrating.movies.item04" type="string">Awards</setting>
    <setting id="customrating.movies.item05" type="string"></setting>
    <setting id="VideoInfo.Year.SortKey" type="string">popularity</setting>
    <setting id="hub.1103.icon" type="string"></setting>
    <setting id="hub.1109.spotlight.fallback" type="string"></setting>
    <setting id="videoinfo.personcredits.sortkey" type="string">popular</setting>
    <setting id="SkinConstant.Numeric.19" type="string">$NUMBER[19]</setting>
    <setting id="hub.1102.spotlight.target" type="string">videos</setting>
    <setting id="hub.1114.spotlight.fallback" type="string"></setting>
    <setting id="hub.1112.spotlight.fallback" type="string"></setting>
    <setting id="hub.1125.spotlight.fallback" type="string"></setting>
    <setting id="hub.1101.spotlight.fallback" type="string"></setting>
    <setting id="hub.1104.spotlight.fallback" type="string"></setting>
    <setting id="hub.1127.spotlight.path" type="string"></setting>
    <setting id="skinvariables.skinuser" type="string"></setting>
    <setting id="VideoInfo.Genre.SortKey" type="string">popularity</setting>
    <setting id="hub.1106.spotlight.fallback" type="string"></setting>
    <setting id="infodialogwall.layout" type="string"></setting>
    <setting id="hub.1108.spotlight.fallback" type="string"></setting>
    <setting id="optionstiles.01.include" type="string">NowPlaying</setting>
    <setting id="infodialog.navigationstyle" type="string"></setting>
    <setting id="customrating.movies.item02" type="string">TMDb</setting>
    <setting id="hub.1107.spotlight.fallback" type="string"></setting>
    <setting id="osd.infooverlay.enableartworkoninfo" type="string"></setting>
    <setting id="hub.1112.spotlight.target" type="string"></setting>
    <setting id="hub.1114.spotlight.target" type="string"></setting>
    <setting id="hub.1126.spotlight.target" type="string"></setting>
    <setting id="hub.1125.spotlight.target" type="string"></setting>
    <setting id="hub.1106.spotlight.target" type="string"></setting>
    <setting id="hub.home.spotlight.sortby" type="string"></setting>
    <setting id="hub.1127.spotlight.target" type="string"></setting>
    <setting id="hub.1101.spotlight.sortby" type="string"></setting>
    <setting id="hub.1102.spotlight.sortby" type="string"></setting>
    <setting id="optionstiles.02.include" type="string">Settings</setting>
    <setting id="navigation.hub.home.ondown" type="string"></setting>
    <setting id="SkinConstant.Numeric.00" type="string">$NUMBER[0]</setting>
    <setting id="navigation.hub.1102.ondown" type="string"></setting>
    <setting id="defaultuser.focuscolor.name" type="string">ffffffff</setting>
    <setting id="optionstiles.03.include" type="string">Weather</setting>
    <setting id="optionstiles.04.include" type="string">SystemInfo</setting>
    <setting id="optionstiles.01.target" type="string"></setting>
    <setting id="optionstiles.01.path" type="string"></setting>
    <setting id="hub.1103.spotlight.sortby" type="string"></setting>
    <setting id="hub.1107.spotlight.target" type="string"></setting>
    <setting id="hub.1106.spotlight.sortby" type="string"></setting>
    <setting id="SkinVariables.SkinUser.ExecuteBuiltIn" type="string">RunScript(script.skinvariables,special://skin/shortcuts/skinvariables-build-colortemplates.json,use_rules=True,get_values=true,reload=Home)</setting>
    <setting id="defaultuser.watchedprogresscolor.name" type="string">ff03b585</setting>
    <setting id="hub.1106.icon" type="string"></setting>
    <setting id="hub.1106.label" type="string"></setting>
    <setting id="dialoginfo.wall.others.item01" type="string">Trailer</setting>
    <setting id="skinvariables.skinuser.name" type="string"></setting>
    <setting id="defaultuser.Background.DialogImage" type="string">Adaptive</setting>
    <setting id="customrating.tvshows.item04" type="string">Awards</setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
    <setting id="hub.1101.label" type="string"></setting>
    <setting id="navigation.hub.1110.ondown" type="string"></setting>
    <setting id="hub.1102.label" type="string"></setting>
    <setting id="hub.1101.icon" type="string"></setting>
    <setting id="navigation.hub.1109.ondown" type="string"></setting>
    <setting id="hub.1103.label" type="string"></setting>
    <setting id="hub.1125.spotlight.label" type="string"></setting>
    <setting id="hub.1126.spotlight.label" type="string"></setting>
    <setting id="hub.1114.spotlight.label" type="string"></setting>
    <setting id="OSD_Timeout" type="string"></setting>
    <setting id="plotline.movie" type="string"></setting>
    <setting id="hub.1114.spotlight.path" type="string"></setting>
    <setting id="enable.plotdetails.fallback" type="string"></setting>
    <setting id="hub.1125.spotlight.path" type="string"></setting>
    <setting id="navigation.hub.1101.ondown" type="string"></setting>
    <setting id="hub.1109.spotlight.sortby" type="string"></setting>
    <setting id="hub.1108.spotlight.sortby" type="string"></setting>
    <setting id="background.dialogimage" type="string">Adaptive</setting>
    <setting id="hub.1126.spotlight.path" type="string"></setting>
    <setting id="dialoginfo.wall.movies.item02" type="string">Wikipedia</setting>
    <setting id="dialoginfo.movies.item02" type="string">Wikipedia</setting>
    <setting id="defaultuser.Background.Image" type="string">special://skin/extras/backgrounds/blur/purple_blur.jpg</setting>
    <setting id="dialoginfo.wall.movies.item01" type="string">Trailer</setting>
</settings>
